dn: ou=People,dc=lksn2025,dc=id
objectClass: organizationalUnit
ou: People

dn: ou=Groups,dc=lksn2025,dc=id
objectClass: organizationalUnit
ou: Groups

dn: ou=VPN,dc=lksn2025,dc=id
objectClass: organizationalUnit
ou: VPN

dn: ou=Mail,dc=lksn2025,dc=id
objectClass: organizationalUnit
ou: Mail
