# VPN Group
dn: cn=vpnusers,ou=Groups,dc=lksn2025,dc=id
objectClass: groupOfNames
cn: vpnusers
member: uid=ani,ou=People,dc=lksn2025,dc=id

# Mail Group
dn: cn=mailusers,ou=Groups,dc=lksn2025,dc=id
objectClass: groupOfNames
cn: mailusers
member: uid=ani,ou=People,dc=lksn2025,dc=id
member: uid=budi,ou=People,dc=lksn2025,dc=id
member: uid=admin,ou=People,dc=lksn2025,dc=id
