# User: admin
dn: uid=admin,ou=People,dc=lksn2025,dc=id
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: admin
cn: Administrator
sn: Admin
mail: admin@{{ domain }}
uidNumber: 10000
gidNumber: 10000
homeDirectory: /home/admin
loginShell: /bin/bash
userPassword: {SSHA}pGaxW7mLnZ6+0K5rJ9xF7KxQPqE0AAAA

# User: ani
dn: uid=ani,ou=People,dc=lksn2025,dc=id
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: ani
cn: Ani User
sn: User
mail: ani@{{ domain }}
uidNumber: 10001
gidNumber: 10001
homeDirectory: /home/ani
loginShell: /bin/bash
userPassword: {SSHA}pGaxW7mLnZ6+0K5rJ9xF7KxQPqE0AAAA

# User: budi
dn: uid=budi,ou=People,dc=lksn2025,dc=id
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: budi
cn: Budi User
sn: User
mail: budi@{{ domain }}
uidNumber: 10002
gidNumber: 10002
homeDirectory: /home/budi
loginShell: /bin/bash
userPassword: {SSHA}pGaxW7mLnZ6+0K5rJ9xF7KxQPqE0AAAA

# User: kyw1
dn: uid=kyw1,ou=People,dc=lksn2025,dc=id
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: kyw1
cn: KYW1 User
sn: User
mail: kyw1@{{ domain }}
uidNumber: 10003
gidNumber: 10003
homeDirectory: /home/kyw1
loginShell: /bin/bash
userPassword: {SSHA}pGaxW7mLnZ6+0K5rJ9xF7KxQPqE0AAAA
